@charset "UTF-8";
/*todas as demais midias*/
/*Typical  Device breakpoints
celular
tablet
desktop
tv
*/

@media print { /*impresão*/
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg);/*desnecessário*/
        
    } 

    main {
        border: 2px solid black;
    }

    main::after {
        content: 'site impresso no site ';
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
    img#desktop { display: none; }
    img#tv { display: none; }
}

@media screen and (min-width: 768px) and (max-width: 992px){ /*tablet*/
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    img#desktop { display: none; }
    img#tv { display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*desktop*/
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#desktop { display: block; }
    img#tv { display: none; }
}

@media screen and (min-width: 1200px) { /*tv*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#desktop { display: none; }
    img#tv { display: block; }
}